#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.navBg {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 100, 100);
}

.container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.cont-1 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 15px;
}

.cont-2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 5px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-link img {
  width: 59px;
}

.Formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  gap: 10px;
}

.form-1 {
  width: 86%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-1 input {
  height: 30px;
  margin-top: 5px;
}

.form-2 {
  width: 86%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boton-1 {
  margin-top: 20px;
}
